
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="~/Assets/cakecutting.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="display-6 mb-4">SB INFOTECH<br /><span class="text-primary"> Family of 200+ Student</span></h1>
                    <p>
                        At our institute, we are more than just students and teachers, we are a family of over 200 members, united by respect, support, and shared dreams. Here, every function is a celebration, every achievement is cheered together, and every challenge is faced side by side.
                    </p>
                    <p class="mb-4">We believe in balancing joy with responsibility. From cultural festivals and traditional ceremonies to group projects and academic excellence, we embrace it all with equal enthusiasm. Our classrooms echo with both laughter and learning, creating memories that go far beyond textbooks.</p>
                    <div class="d-flex align-items-center mb-4 pb-2">
                        <div class="ps-4">
                            <h4> <b>Snehalata Debata</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="h-100">
                    <h1 class="display-6 mb-4">Why Do We Call Ourselves a Family? </h1>
                    <p class="mb-4">At our institute, we don’t just see each other as teachers and students—we see each other as friends. There’s no strict formality, no distance. We talk openly, we laugh, we work together, and we learn from one another. Everyone helps everyone, no matter what the role is. It feels like a big team where each person matters. Whenever someone needs support—whether it’s for studies, organizing a function, or dealing with something personal—our entire family stands together. That’s what makes our institute truly different. It’s not just a place to study, it’s a place where you always feel supported and at home.</p>
                    
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="img-border">
                    <img class="img-fluid" src="~/Assets/cec25.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

@*----------------*@
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Our Success</h6>
            <h1 class="display-6 mb-4">Success Stories From Our Family</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/Assets/profiledemo.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Full Name</h5>
                            <span>Designation</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-primary rounded-circle" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/Assets/profiledemo.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Full Name</h5>
                            <span>Designation</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-primary rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/Assets/profiledemo.jpg" alt="" height="50" width="50">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Full Name</h5>
                            <span>Designation</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-primary rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>