@{
    ViewBag.Title = "Home Page";
}

<div class="vh-100">
    <div class="container my-3 mb-lg-5">
        <!-- Carousel container with full width and 75vh height -->
        <div id="carouselExampleSlidesOnly" class="carousel slide w-100 " data-bs-ride="carousel" style="height: 90vh;">
            <div class="carousel-inner rounded-2" style="height: 90vh;">
                <!-- First Slide -->
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="~/Assets/IMG_20240907_124357.jpg" class="d-block w-100" alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white mb-lg-0">
                        <h5>Welcoming Wisdom with Ganesh Puja</h5>
                        <p>A prayer to Lord Ganesha for removing obstacles and bringing success before starting any new journey,just like clearing bugs before running your code.</p>
                    </div>
                </div>
                <!-- Second Slide -->
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/Assets/IMG_20240905_100655.jpg" class="d-block w-100" alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white mb-lg-0">
                        <h5>A Peaceful Start with Discipline</h5>
                        <p>Discipline means following rules, showing respect, and staying focused. It helps us learn better and grow into responsible individuals.</p>
                    </div>
                </div>
                <!-- Third Slide -->
                <div class="carousel-item">
                    <img src="~/Assets/IMG_20250202_111938.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Seeking Blessings for Knowledge and Wisdom</h5>
                        <p>Saraswati Puja is a prayer to Goddess Saraswati, the goddess of wisdom and learning. Students offer prayers for knowledge, focus, and success in their studies.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/batch23-24.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Let’s Smile and Capture the Moment!</h5>
                        <p>It’s time to smile and freeze this moment in time. Let’s pose, shine, and make a memory that will last forever!</p>
                    </div>
                </div>
                @*<div class="carousel-item">
                    <img src="~/Assets/IMG_20250202_110059.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Be dedicated for pooja</h5>
                        <p>dedication for ganesh pooja.</p>
                    </div>
                </div><div class="carousel-item">
                    <img src="~/Assets/IMG_20250202_111938.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Third slide label</h5>
                        <p>Providing a variety of tasty dishes ensures that everyone has something they love, making mealtime a time to look forward to.</p>
                    </div>
                </div>*@<div class="carousel-item">
                    <img src="~/Assets/IMG_20250202_134232.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>A Cherished Moment After Saraswati Puja</h5>
                        <p> It’s time to gather, smile, and create memories that will last a lifetime. Let’s make this moment unforgettable!</p>
                    </div>
                </div><div class="carousel-item">
                    <img src="~/Assets/IMG_20250211_111315.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Pause the Code, Enjoy the Tune!</h5>
                        <p>Take a break from the screens, sit back, and enjoy the music. A perfect way to refresh before diving back into the world of code</p>
                    </div>
                </div><div class="carousel-item">
                    <img src="~/Assets/farewell.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>The Journey So Far, A Farewell to Remember</h5>
                        <p>We’ve faced challenges, made memories, and grown together. This journey has been unforgettable, and the future holds endless possibilities.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/cakecutting.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Capturing the Final Moments of Journey</h5>
                        <p>As our course comes to an end, let’s take a moment to “commit” this memory, “compile” the lessons learned, and “debug” our past challenges, all while celebrating the friendships and experiences we've created.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/cec25.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Committing the Final Line of Code</h5>
                        <p>We’ve debugged, learned, and grown together. As we graduate, this is our final commit, marking the end of one chapter and the start of many more to come.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/cec25girls.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>The End of One Journey, The Start of Another</h5>
                        <p>Graduation marks the end of one chapter and the start of a new journey. Here’s to the memories, growth, and friendships we’ll carry with us.</p>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <img src="~/Assets/farewell_gp24.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Capturing the Moment Together</h5>
                        <p>As we say goodbye, let’s capture this moment together—celebrating the memories, friendships, and experiences that will stay with us forever.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/batch23.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5> Sisters by Heart, Batch by Chance</h5>
                        <p>Unbreakable bond, endless memories, and a journey we'll cherish forever.</p>
                    </div>
                </div>
                @*<div class="carousel-item">
                    <img src="~/Assets/group.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Reunited After a Year </h5>
                        <p>Time flew, but the bond stayed strong. One year later, same energy, same vibes, even stronger friendship.</p>
                    </div>
                </div><div class="carousel-item">
                        <img src="~/Assets/batch23-24.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                        <div class="carousel-caption d-none d-md-block text-white">
                            <h5>Third slide label</h5>
                            <p>Providing a variety of tasty dishes ensures that everyone has something they love, making mealtime a time to look forward to.</p>
                        </div>
                    </div>*@
                <div class="carousel-item">
                    <img src="~/Assets/seniorwithmam.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Reunited After a Year </h5>
                        <p>Time flew, but the bond stayed strong. One year later, same energy, same vibes, even stronger friendship.</p>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/super_seniro.jpg" class="d-block w-100 " alt="..." style="height: 90vh; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>Old Friends, Same Vibes</h5>
                        <p>Time may have passed, but the memories and bond remain strong. Grateful to meet again and celebrate how far we've come.</p>
                        <a href="#viewAll" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev z-0" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                <span class="carousel-control-prev-icon z-0" aria-hidden="true"></span>
                <span class="visually-hidden z-0">Previous</span>
            </button>
            <button class="carousel-control-next z-0" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                <span class="carousel-control-next-icon z-0" aria-hidden="true"></span>
                <span class="visually-hidden z-0">Next</span>
            </button>
        </div>
    </div>
</div>
<div id="about" class="shadow">
    @Html.Partial("_About")
</div>
<div id="contact" class="shadow">
    @Html.Partial("_Contact")
</div>