@{
    ViewBag.Title = "Home Page";
}

<div class="vh-100">
    
</div>
<div id="about" class="vh-100">
    @Html.Partial("_About")
</div>
<div id="contact" class="vh-100">
    @Html.Partial("_Contact")
</div>