.dropdown {
    position: absolute;
    right: 0;
    top: 3.5rem;
    z-index: 10;
}

.mynav ul li:hover {
    background-color: #464646;
    font-weight: 400;
    opacity: 120%;
    border-radius:4px;
}

.sb-bg {
    background-color: #22a5ff;
}
ul li a {
    color: white !important;
    text-decoration: none;
}